/* styling and fonts */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', san-serif;
}

/* styling: header */

.header {
    background-color: #1F2937;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #F9FAf8;
}

.header-links {
    font-size: 15px;
    color: #E5E7EB;
}

/* styling: hero */

.hero {
    background-color: #1F2937;
}

.hero-text h1 {
    color: #F9FAf8;
}

.hero-text p {
    font-size: 15px;
    color: #E5E7EB
}

.hero-text button {
    color: #F9FAf8;
    background-color: #3882F6;
    border: none;
}

.image-placeholder{
    background-color: grey;
    color: #E5E7EB;
}

/* styling catalogue */

.catalogue .subtext{
    font-size: 15px;
    color: grey;
}

.catalogue .box {
    height: 100px;
    border: solid #3882F6 2px;
    border-radius: 10px;
}

/* styling quote */

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    color: grey;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.quote-attribute {
    font-weight: bold;
    font-size: 15px;
    text-align: right;
}

/* styling c2a */

.c2a-bluebox {
    background-color: #3882F6;
}

.c2a-main-text {
    color: #F9FAf8;
    font-weight: bold;
}

.c2a-subtext {
    color: #E5E7EB;
}

.c2a-bluebox button {
    color: #F9FAf8;
    background-color: #3882F6;
    border: 1px solid #F9FAf8;;
}

/* flex-box header */

/* stretch */

.header,
.hero,
.catalogue,
.quote,
.c2a,
.footer {
    padding: 10px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    flex-shrink: 0;
    min-width: 300px;
}

.header-links {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* flex-box hero */

.hero {
    padding: 70px 100px;
    display: flex;
    gap: 30px;
}

.hero div {
    flex: 1;
}

div .hero-text {
    flex: 1 0 200px;
}

div .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 300px;
    height: 200px;
}

.hero-text p {
    padding-bottom: 10px;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
}

/* flex catalogue */

.catalogue {
    padding: 70px 100px;
    display: flex;
    flex-direction: column;

}

.catalogue h3 {
    text-align: center;
    padding-bottom: 30px;
}

.boxes-and-subtext {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    
}

.partners {
    flex: 0 0 100px;
}

.box {
    margin-bottom: 10px;
}

/* flex quote */

.quote {
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
}

/* flex c2a */

.c2a {
    padding: 70px 100px;
    display: flex;
}

.c2a-bluebox {
    flex: auto;
    padding: 30px 90px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.c2a-bluebox button {
    flex: 0 0 90px;
    height: 30px;
}

/* footer */

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px 100px;
    text-align: center;
}