/* styling and fonts */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', san-serif;
}

/* styling: header */

.header {
    background-color: #1F2937;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #F9FAf8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

/* styling: hero */

.hero {
    background-color: #1F2937;
}

.hero-text h1 {
    color: #F9FAf8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB
}

.hero-text button {
    color: #F9FAf8;
    background-color: #3882F6;
    border: none;
}

.image-placeholder{
    background-color: grey;
    color: #E5E7EB;
}